#root {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --pokemon-blue: #3b4cca;
  --pokemon-yellow: #ffde00;
}

/*Class Styling*/
.main-container{
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
}

.pokemon-card{
  background-color: var(--pokemon-yellow);
  height: 300px;
  width: 250px;
  border-radius: 20px;
  padding: 7px;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--pokemon-blue);
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.pokemon-card img{
  width: 99%;
  height: 80%;
  object-fit: cover;
  background-image: url(assets/card-background.jpg);
  border-radius: 20px;
}

.pokemon-card:hover{
  box-shadow: 0 0 20px 5px rgba(259, 166, 0, 0.7);
}

.disabled{
  display: none;
}